<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
</head>
<body>
    <!-- youtube_downloader/templates/download_form.html -->
    <form id="download-form" method="post" action="{% url 'download_youtube_video' %}">
        {% csrf_token %}
        <label for="video_url">YouTube Video URL:</label>
        <input type="text" name="video_url">
        <button type="submit">Download</button>
    </form>

    <div id="response-message" style="display: none;"></div>

    
</body>
</html>
